@model IList<NumberConverter.Domain.Database.TranslationsHistory>
@{
    ViewBag.Title = "conversions history";
}

<h2>History</h2>
<table class="table">
    <tr>
        <th>
            Number to convert
        </th>
        <th>
            Text conversion
        </th>
        <th>
            Date of translation
        </th>
    </tr>
    @foreach (var translationHistory in Model)
    {
        <tr>
            <td>
                @translationHistory.Number
            </td>
            <td>
                @translationHistory.TranslationValue
            </td>
            <td>
                @translationHistory.TranslationDate
            </td>
        </tr>
    }
</table>

